body {
    color: rgb(136, 130, 72);
    background: rgb(241, 232, 148);
    margin: 20px;
    font-family: "DM Serif Text", sans-serif;
}

header {
    border-bottom: solid 2px rgb(250, 247, 219);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 223, 183);
}

.chamada {
    background: rgb(129, 125, 81);
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamda-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 70px;
    padding-right: 70px;
}