body {
    color: rgb(241, 232, 148);
    background: rgb(241, 232, 148);
    margin: 20px;
    font-family: "DM Serif Text", sans-serif;
}

header {
    border-bottom: solid 2px rgb(122, 118, 76);
    padding: 20px;
    font-size: 32px;
    color: rgb(241, 232, 148);
}

.chamada {
    background: rgb(122, 118, 76);
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamda-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 20px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}