body {
    color: rgb(0, 0, 0);
    background: rgb(166, 255, 0);
    margin: 20px;
    font-family: "DM Serif Text", sans-serif;
}

header {
    border-bottom: solid 2px rgb(0, 174, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 0, 157);
}

.chamada {
    background: rgb(255, 0, 0);
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamda-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 70px;
    padding-right: 70px;
}